<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Zofia & Mehdi</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html,
        body,
        iframe {
            border-radius: 0 !important;
        }
    </style>
</head>

<body>
    <div data-tf-widget="OSo8oBeU" data-tf-opacity="100" data-tf-inline-on-mobile
         data-tf-iframe-props="title=zofia0902" data-tf-transitive-search-params 
         data-tf-auto-focus data-tf-medium="snippet" data-tf-full-screen id="content"></div>
    <script src="//embed.typeform.com/next/embed.js"></script>
    <script>
        fetch('http://www.geoplugin.net/json.gp')
            .then(response => response.json())
            .then(data => {
                if (data.geoplugin_countryCode === "MA") {
                    window.location.href = "https://mehdibaha.com/zofiavoineau";
                }
            });
    </script>
</body>

</html>